<p-card class="card">
    <div class="ui-card-title"> Carrinho de Compras</div>
    <form [formGroup]="formulario">
        <p-toolbar>
            <div class="p-col-12 p-md-6 p-lg-6 ui-fluid">
                <p-dropdown [options]="usuarios" placeholder="Selecione" optionLabel="nome" [showClear]="true"
                    filter="true" emptyFilterMessage="Nenhum usuário encontrado" formControlName="usuario"></p-dropdown>
            </div>
        </p-toolbar>

        <p-toolbar *ngIf="existsUser()">
            <div class="p-grid p-align-start">
                <div class="p-col-12 p-md-3 p-lg-3 p-xl-4 ui-fluid">
                    <h5>Itens<b>(*)</b></h5>
                    <p-dropdown [options]="itens" placeholder="Selecione" optionLabel="nome" [showClear]="true"
                        filter="true" emptyFilterMessage="Nenhum item encontrado" formControlName="item">
                    </p-dropdown>
                </div>
                <div class="p-col-12 p-md-3 p-lg-3 p-xl-4 ui-fluid">
                    <h5>Quantidade<b>(*)</b></h5>
                    <div class="ui-inputgroup"></div>
                    <input id="quantidade" required type="number" pInputText formControlName="quantidade">
                    <button pButton type="button" (click)="addItem()" icon="pi pi-plus"></button>
                </div>
            </div>

            <div class="p-grid p-align-end p-justify-end">
                <p-table [columns]="cols" [value]="produtos">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr>
                            <td>
                                {{rowData.quantidade}}
                            </td>
                            <td>
                                {{rowData.item.nome}}
                            </td>
                            <td>
                                {{rowData.item.valor}}
                            </td>

                            <td>
                                <button pButton type="button" (click)="deleteItem(rowData)" icon="pi pi-trash"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-toolbar>

    </form>
</p-card>